a, a:hover, a:focus, a:active {
  text-decoration: underline;
  color: inherit;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 6px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

body {

    margin:  0 auto;
    background-color: rgba(0, 128, 0, 0.096);
    background-image: url(https://images.pexels.com/photos/6485437/pexels-photo-6485437.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   
}

.band {
    margin: auto;
    background-color: transparent;
    background-image: url(https://images.pexels.com/photos/4636786/pexels-photo-4636786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 1500px;
    height:300px;
}

.row {
 background-color: rgba(158, 75, 130, 0.548);
}
  
h1,
  
h2,

h3 {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    box-shadow: 5px 5px 5px rgb(16, 44, 3);
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    color: antiquewhite;
  }
  
  h2 
{
  font-family: 'Abril Fatface', cursive;
  color: blanchedalmond;
    display: block;
    margin: 40px auto 0 auto;
    font-size: 48px;
  }
  
  h3 {font-family: 'Pathway Gothic One', sans-serif;
    color: blanchedalmond;
    font-size: 24px;
    opacity: 0.7;
  }
  
  h5 {color: blanchedalmond;
    font-family: 'Pathway Gothic One', sans-serif;
   margin: 50px 0 20px 20px;
    font-size: 50px;
  }
  
  p {font-family: 'Pathway Gothic One', sans-serif;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: 27px;
    line-height: 1.5;
  }

  .navbar {
      font-size:22px;
    font-family: 'Pathway Gothic One', sans-serif; 
    
   
  }
  @media screen and (max-width :770px) {
    .img-fluid.index {
      display: none;
    }
  h1 {text-align: center;
    font-size: 60px;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
  }
  
  h3 {text-align: center;
    font-size: 16px;
    opacity: 0.7;
  }
  
  h5 {text-align: center;
    font-size: 30px;
    margin: 50px;
  }
  a {
    display: block;
    text-align: center;
}
 p {
   font-size:20px;
 }
  }
 
  .contact-link {
    background: rgb(16, 44, 3); 
    color: bisque !important;
  }
  
  .about-link {
    color:  rgb(16, 44, 3); 
    border: 1px solid bisque;
  }
  .row.image {
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    margin: 50px auto 0;
      width: 85%;
      height: 400px;
      background-color: aliceblue;
  }

  .row.lang {
      margin: 0 auto 25px auto;
      box-shadow: 5px 5px 5px rgb(16, 44, 3);
    background-color: aliceblue;  
    width: 85%;
  }

  .langimg {
    margin: 0  auto;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 8%);
      width: 20%;
      height: auto;
      display: block;
      padding-bottom: 20px;
  }
  .container.contact{
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    display: block;
    margin: 30px auto;
  }
  .row.lets{
    
    display: block;
    text-align: center;
    color: bisque;
    font-family: 'Pathway Gothic One', sans-serif;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: 40px;;
    line-height: 1.5;
  }
  .col-sm-6.app{
    box-shadow: 5px 5px 5px rgb(16, 44, 3);
    margin: 0 auto;
    width: 300px;
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  }
  #contact {
    display: table;
     height: 400px; 
     overflow: hidden;
    margin: 60px auto 20px;
    max-height: 200px;
    max-width: 400px;
    padding: 20px;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
  }
  .AppLink {
    background: rgb(16, 44, 3); ;
    box-shadow:  blanchedalmond;;
    color:bisque;
    margin: 20px;
    border-radius: 4px;
    padding-top: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .row.image{
    box-shadow: 5px 5px 5px rgb(16, 44, 3);
  }
.col-sm-6{
  padding-bottom: 70px;
}

.col-sm-6.inquir{
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: 27px;
    line-height: 1.5;

}